/* Colors
Background */

.background-main-color {
  background-color: #ffffff;
}

.background-table-color {
  background-color: #2f303a;
}

.background-team-color {
  background-color: #f5f4fa;
}

/* Text color */

#text-color-white {
  color: #ffffff;
}

#text-color-black {
  color: #212121;
}

#text-color-web {
  color: #2196f3;
}

#text-color-header-contact {
  color: #757575;
}

/* Global */
header a:any-link {
  text-decoration: none;
  color: #212121;

  font-size: 14px;
  line-height: 16px;
}

header div a:any-link {
  text-decoration: none;
  color: #757575;

  font-size: 14px;
  line-height: 16px;
}

footer a:any-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* Index.html
Agencja - Portfolio - Kontakty - Phone Number - Mail */
.link-type-subpage {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.link-type-subpage:focus,
.link-type-subpage:hover {
  color: #2196f3;
  cursor: pointer;
}

.link-type-subpage-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* Text in main section */

.main-section-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
}

.heading-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.heading-photo-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.description-text {
  font-size: 14px;
  line-height: 24px;
}

.order-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

/* Buttons */

.button-type-order {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Portfolio */
/* Buttons to filtr projects and order */
.button-type-filtr:focus,
.button-type-filtr:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}

/* Text in main secion */

.button-filtr-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
